<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>booked</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>

      <ion-button (click) = "listToOffice()">To office</ion-button>
      <ion-button (click) = "listFromOffice()">From Office</ion-button>
      
        <ion-list *ngFor="let booking of bookings | async">
            
                <ion-card>
                    <ion-item>
                      <ion-icon name="pin" slot="start"></ion-icon>
                      <ion-label>{{booking.pickupDropPoint}}</ion-label>
                      
                    </ion-item>
                    <ion-item>
                      <ion-icon name="calendar" slot="start"></ion-icon>
                      <ion-label>{{ booking.poolDateTime.seconds * 1000 | date:'mediumDate' }}</ion-label>
                      
                    </ion-item>
                    <ion-item>
                        <ion-icon name="clock" slot="start"></ion-icon>
                        <ion-label>{{ booking.poolDateTime.seconds * 1000 | date:'shortTime' }}</ion-label>
                        
                      </ion-item>
                    <ion-item>
                        <ion-icon name="contacts" slot="start"></ion-icon>
                        <ion-label>{{booking.seats}}</ion-label>
                    </ion-item>
    
                    <ion-item *ngIf="booking.poolDateTime<datetimeTimestamp; else elseBlock">
                      <ion-segment>
                        <ion-segment-button>
                          <ion-label>Pool Chat</ion-label>
                          <ion-icon name="chatbubbles"></ion-icon>
                        </ion-segment-button> 
                        <ion-label >Booking Started</ion-label>
                      </ion-segment>
                    </ion-item>
                    <ng-template #elseBlock>
                      <ion-item>
                        <ion-segment>
                          <ion-segment-button (click)="poolChatPage(booking.rideId)">
                            <ion-label>Pool Chat</ion-label>
                            <ion-icon name="chatbubbles"></ion-icon>
                          </ion-segment-button>
                          <ion-segment-button (click)="cancelBooking(booking.id, booking.rideId, booking.seats)">
                            <ion-label>Cancel</ion-label>
                            <ion-icon name="close"></ion-icon>
                          </ion-segment-button>
                        </ion-segment>
                       </ion-item>
                     </ng-template>
                      
                    
                  </ion-card>
            
        </ion-list>
      
    </ion-content>
</ion-content>
