<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create a Pool Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label *ngIf="toOffice; else elseBlock">Pickup Point</ion-label>
      <ng-template #elseBlock><ion-label>Drop Point</ion-label></ng-template>
      <ion-select multiple="false" cancelText="Nah" okText="Okay!" [(ngModel)]="pickupDropPoint">
        <ion-select-option *ngFor="let location of locations">{{location}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Seats</ion-label>
      <ion-select ok-text="Okay" cancel-text="Nah" [(ngModel)]="seatsBooked">
        <ion-select-option [value]=1>1</ion-select-option>
        <ion-select-option [value]=2>2</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-button (click)="createBooking()" expand="block">
    Book Car Pool
  </ion-button>
  </ion-toolbar>
</ion-footer>
