<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #loginForm="ngForm">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" ngModel name="email"  spellcheck="false" autocapitalize="off" required email #emailCtrl="ngModel"></ion-input>
        </ion-item>
        <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
          <p>Should be valid email addresss.</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" ngModel name="password" required #passwordCtrl="ngModel"></ion-input>
        </ion-item>
        <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
          <ion-label>Password is Required</ion-label>
        </ion-item>
    </ion-list>
    <ion-button fill="solid" expand="block" (click)="login(loginForm)" type ="submit" [disabled]="!loginForm.valid">Login</ion-button>
    <ion-button fill="solid" expand="block" color="secondary" [routerLink] ="['/','auth','register']">Sign up</ion-button>
  </form>
</ion-content>
