<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>

      <ion-button (click) = "listToOffice()">To office</ion-button>
      <ion-button (click) = "listFromOffice()">From Office</ion-button>
        <ion-list *ngFor="let ride of rides | async">
            
                <ion-card>
                    <ion-item>
                      <ion-icon name="pin" slot="start"></ion-icon>
                      <ion-label>{{ride.destination}}</ion-label>
                      
                    </ion-item>
    
                    <ion-item>
                      <ion-icon name="calendar" slot="start"></ion-icon>
                      <ion-label>{{ ride.datetime.seconds * 1000 | date:'mediumDate' }}</ion-label>
                      
                    </ion-item>
                    <ion-item>
                        <ion-icon name="calendar" slot="start"></ion-icon>
                        <ion-label>{{ ride.datetime.seconds * 1000 | date:'shortTime' }}</ion-label>
                        
                      </ion-item>
    
                    <ion-item>
                        <ion-icon name="contacts" slot="start"></ion-icon>
                        <ion-label>{{ride.seats}}</ion-label>
                    </ion-item>
    
                    <ion-item>
                        <ion-button fill="outline" slot="end">View</ion-button>
                        <ion-button fill="outline" slot="end" (click)="bookRide(ride.id)">Book</ion-button>
                    </ion-item>
                  </ion-card>
            
        </ion-list>
    </ion-content>
</ion-content>
